<header id="headerHere">
  <div id="appName">CODEiAL</div>

  <div id="rightHeaderContent">
    <% if(locals.user){ %>
    <div id="profileName"><a href="/users/profile"><%= user.name %></a></div>
    <div id="signOutButton"><a href="/users/sign-out">Sign Out</a></div>
    <% }else{ %>
    <div id="signInButton"><a href="/users/sign-in">Sign In</a></div>
    <div id="signUpButton"><a href="/users/sign-up">Sign Up</a></div>
    <% } %>
  </div>
  <!-- <ul>
    <% if(locals.user){ %>
    <li><a href="/users/profile"><%= user.name %></a></li>
    <li><a href="/users/sign-out">Sign Out</a></li>

    <% }else{ %>
    <li><a href="/users/sign-in">Sign In</a></li>
    <li><a href="/users/sign-up">Sign Up</a></li>
    <% } %>
  </ul> -->
</header>
